<!DOCTYPE html>
<html>
<head>
  <title>Conductor</title>
  <%= stylesheet_link_tag    "conductor/application", :media => "all" %>
  <%= javascript_include_tag "conductor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
