.nav= link_to "Current Experiment Weights", '#current_weights'
.nav= link_to "Experiment Statistics", '#group_stats'
.nav= link_to "Daily Statistics", '#daily_stats'
.nav.last= link_to "Experiment Weight History", '#weight_history'